:root {
  /* primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  /* secondary */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --font-family1: "Barlow", sans-serif;
  --font-family2: "Fraunces", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

#hero {
  height: 100vh;
  background-image: url(./images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: 90%;
  margin: auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 555;
}

nav {
  display: none;
}

.dropmenu-toggler i {
  color: white;
  font-size: 30px;
}

/* dropmenu styling  */

.dropmenu {
  width: 90vw;
  margin-top: 30px;
  padding: 20px 20px 40px 20px;
  position: absolute;
  top: 100%;
  z-index: 1;
  transform: translateY(-200rem);
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  transition: transform 0.5s ease;
}


.dropmenu-active{
    transform: translateY(0);
}

.dropmenu::before {
  content: "";
  position: absolute;
  bottom: 99%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
  transform: rotate(90deg);
}

.dropmenu .droplinks {
  list-style: none;
}

.droplinks li {
  padding: 15px;
  text-align: center;
}

.droplinks li a {
  text-decoration: none;
  font-family: "Barlow", serif;
  font-size: 20px;
  color: hsl(232, 10%, 55%);
}

.droplinks .contact a {
  padding: 15px 20px;
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  border-radius: 30px;
  font-family: "Fraunces", sans-serif;
}

/* hero content start  */
.hero_content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_content .hero-header{
    margin-bottom: 8vh;
}

.hero_content .hero-header h1{
    font-size: 48px;
    font-family: var(--font-family2);
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
}



/* transform section starts */
.transform_section, .standout_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.transform_section .image-container{
    width: 100%;
    height: 60vh;
    background-image: url(./images/mobile/image-transform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.transform-content{
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;

}

.transform-content .transform-header{
    margin-bottom: 30px;
}

.transform-header h1{
    text-align: center;
    font-size: 36px;
    color: var(--very-dark-desaturated-blue);
}

.transform-desc{
    margin-bottom: 30px;
}

.transform-desc p{
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family1);
    line-height: 30px;
    color: var(--dark-grayish-blue);
}

.learn-more-btn{
    display: flex;
    justify-content: center;
}

.learn-more-btn a{
    text-decoration: none;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--very-dark-desaturated-blue);
}

.learn-more-btn a::before{
    content: '';
    position: absolute;
    height: 8px;
    z-index: -1;
    width: 110%;
    margin: auto;
    left: -5px;
    bottom: 0;
    border-radius: 20px;
    background-color: hsl(51, 100%, 84%);
}

/* top section ends */

/* middle section starts */

/* middle section ends */

/* bottom section starts */
.bottom_section {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

@media(max-width: 480px) {
    .image-wrapper {
        width: calc(50%);
      } 
}

@media(min-width: 480px) {
    .image-wrapper {
        width: calc(25%);
      } 
}
.image-wrapper img {
  width: 100%;
  height: auto;
}
/* bottom section ends */
