*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}

#hero{
    height: 100vh;
    background-image: url(./images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    width: 90%;
    margin: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav{
    display: none;
}

.dropmenu{
    width: 90vw;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 100%;
}