:root {
    /* primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    /* secondary */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

/* CSS Reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End of CSS Reset */

/* Style the header and nav */
body{
    background-color: var(--white);
}



/* Style the nav */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--white);
}

/* Style the unordered list */
.nav ul {
    display: flex;
    list-style-type: none;
}

/* Style list items */
.nav li {
    margin: 0 10px;
}

/* Style anchor tags as buttons */
.nav a {
    display: inline-block;
    padding: 6px 12px;
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-desaturated-cyan);
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Add hover effect to anchor tags */
.nav a:hover {
    background-color: var(--white);
    border-color: var(--dark-blue);
    color: var(--dark-blue);
}